[submodule "OA_backend_core"]
	path = OA_backend_core
	url = git@github.com:panelona/OA_backend_core.git
[submodule "OA_Email_Service"]
	path = OA_Email_Service
	url = git@github.com:willsantos/OA_Email_Service.git
